.stylize-body {
    width: inherit;
    padding-left: 20%;
    padding-right: 20%;
}

.stylize-up {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 30px;
    padding: 50px;
}

.stylize-up-left-column {
    flex: 40%;
    align-self: end;
}

.stylize-up-right-column {
    flex: 40%;
    align-self: end;
}

.stylize-middle {
    text-align: center;
}
.stylize-radio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: black;
    height: 25px;
    width: 25px;
}

.stylize-radio:checked {
    background-color: #252525;
}

.stylize-desc {
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    text-align: left;
    color: dimgray;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.stylize-desc h4 {
    margin: 15px 5px 0px 5px;
}

.stylize-desc p {
    font-size: 15px;
    margin: 0px 0px 0px 5px;
}

@media screen and (max-width: 800px) {
    .stylize-body-left-column {
        flex: 100%;
    }
    .stylize-body-right-column {
        flex: 100%;
    }
}

.lds-dual-ring {
    margin: auto;
    width: min-content;
    color: #252525;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #252525;
    border-color: #252525 transparent #252525 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}